body{

    background-color: rgb(200, 255, 0);
display: block;
margin: 0;
padding: 70px 0;
}

button{
margin: 25px;


}
h1{
font-size: xx-large;
text-align: center;

}
img {
    width: 624px;
    height: 316px;
}
main{
    text-align: center;
}
